version: "3.5"
services:
  cdslab_cmodels_app:
    build: .
    container_name: cdslab_cmodels_app
    env_file: .env
    image: cdslab_user
    networks:
      - cdslab_cmodels_net
    depends_on:
      - cdslab_cmodels_mongo
    ports:
      - 5000:5000
    volumes:
    - cdslab_cmodels_app_data:/app/src

  cdslab_cmodels_mongo:
    container_name: cdslab_cmodels_mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: cdsuser
      MONGO_INITDB_ROOT_PASSWORD: cdspass
    image: mongo:3-xenial
    networks:
      - cdslab_cmodels_net
    ports:
      - 27017:27017
    volumes:
      - cdslab_cmodels_mongo_data:/data/db

networks:
  cdslab_cmodels_net:
    name: cdslab_cmodels_net
    driver: bridge

volumes:
  cdslab_cmodels_app_data:
    driver: local
  cdslab_cmodels_mongo_data:
    driver: local
