[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-dotenv = "*"
pymongo = "*"
uvicorn = "*"

[dev-packages]
python-dotenv = {extras = ["cli"], version = "*"}
pytest = "*"
flake8 = "*"
requests = "*"
mongomock = "*"
pytest-cov = "*"

[scripts]
server = "python main.py"
tests = "python -m pytest tests"
tests-cov = "python -m pytest tests --cov src"
tests-cov-html = "python -m pytest tests --cov-report html --cov src"

[requires]
python_version = "3.9"
