[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-dotenv = "*"

[dev-packages]
python-dotenv = {extras = ["cli"], version = "*"}
pytest = "*"
uvicorn = "*"
flake8 = "*"
requests = "*"

[requires]
python_version = "3.9"
